<ion-header>
  <ion-toolbar>
    <ion-title>Legături biblice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <i padding>{{ this.chapter.bookShortName }} {{ this.chapter.number }}, {{ this.verset.number }}</i>
  <i padding>{{ this.verset.text }} </i>
  <ion-list>
      <ion-item *ngFor='let lv of this.linkedVersets' (click)='toggleDetails(lv)'>
       <i padding> {{ lv.link.targetBookShortName }} {{ lv.link.targetChapter }}, {{ lv.link.targetVersetStart }} - {{ lv.link.targetVersetEnd }}</i>
      <div *ngIf="lv.showDetails">
        <ion-list>
          <ion-item text-wrap ngFor*='let verset of lv.versets'>
            {{verset.number}}. {{verset.text}}
          </ion-item>
        </ion-list>
      </div>
      </ion-item>
  </ion-list>

</ion-content>
